@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Рассписание занятий</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Время
                </th>
                <th>
                    Дисциплина
                </th>
                <th>
                    Преподователь
                </th>
                <th>
                    Тип
                </th>
                <th>
                    Аудитория
                </th>
                <th>
                    Группа
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
